<div class="row">
  <div class="row card card-block">
    <div class="col-md-12 form-group">
      <h3>Adminpanel</h3>
    </div>
    <div class="col-md-4 form-group">
      <label class="control-label">Enter message</label>
      <input type="text" class="form-control" id="name" name="name" placeholder='{"event":"message","Content":"test"}'>
      <br>
      <button (click)="sendMessage()" class="btn btn-primary">Send</button>
    </div>
  </div>
  <br><br>
  <div class="row card card-block">
    <div class="col-md-12">
      <h4>Log</h4><br>
      <h6 *ngFor="let message of receivedMessages">{{ message }}</h6>
    </div>
  </div>
</div>
