.card {
    width: 100%;
    height: auto;
    background: #001d3f;
    position: relative;
    border-radius: 2px;
    color: #fff;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
}